<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/expense"
        android:label="@string/app_name"
        android:roundIcon="@drawable/expense"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExpenseTracker"
        tools:targetApi="31">
        <activity
            android:name=".layouts.EditProfile"
            android:exported="false" />
        <activity
            android:name=".layouts.layouts.CompleteProfile"
            android:exported="false"></activity>
        <activity
            android:name=".layouts.layouts.AddNumber"
            android:exported="false"></activity>
        <activity
            android:name=".layouts.layouts.ProfileActivity"
            android:exported="false"></activity>
        <activity
            android:name=".layouts.layouts.ResetPassActivity"
            android:exported="false" />
        <activity
            android:name=".layouts.layouts.ExpenseDetails"
            android:exported="false" />
        <activity
            android:name=".layouts.layouts.Home_Activity"
            android:exported="false" />
        <activity
            android:name=".layouts.layouts.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".layouts.layouts.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>